
<section id="collection" class="py-5 bg-dark text-white">
    <div class="container">
        <div class="title text-center">
            <h2 class="position-relative d-inline-block">New Collection</h2>
        </div>
        <div class="row g-0">
            <div class="d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                <button type="button" class="btn m-2 btn btn-danger text-white active-filter-btn" data-filter="*">All</button>
                <button type="button" class="btn m-2 btn btn-danger text-white" data-filter=".best">Clothes</button>
                <button type="button" class="btn m-2 btn btn-danger text-white" data-filter=".feat">Mobiles</button>
                <button type="button" class="btn m-2 btn btn-danger text-white" data-filter=".new">laptop</button>
            </div>
            <div class="collection-list mt-4 row gx-0 gy-3">
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">

                        <img src="assets/imgs/9.png" class="w-100">

                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                      
                        <p class="text-capitalize my-1">Dress
                        </p>
                        <span class="fw-bold">$ 45.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">

                        <img src="assets/imgs/9.png" class="w-100">

                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        
                        <p class="text-capitalize my-1">Dress
                        </p>
                        <span class="fw-bold">$ 45.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Sold OUT</button>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">

                        <img src="assets/imgs/9.png" class="w-100">

                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        
                        <p class="text-capitalize my-1">Dress
                        </p>
                        <span class="fw-bold">$ 45.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Sold OUT</button>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">

                        <img src="assets/imgs/9.png" class="w-100">

                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        
                        <p class="text-capitalize my-1">Dress
                        </p>
                        <span class="fw-bold">$ 45.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/44.png" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">iphone 14</p>
                        <span class="fw-bold">$ 150.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/44.png" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">iphone 14</p>
                        <span class="fw-bold">$ 150.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Sold OUT</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/44.png" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">iphone 14</p>
                        <span class="fw-bold">$ 150.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/44.png" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1">iphone 14</p>
                        <span class="fw-bold">$ 150.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/1223.jpg" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1"> LabTop Mac</p>
                        <span class="fw-bold">$ 440.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/1223.jpg" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1"> LabTop MAC</p>
                        <span class="fw-bold">$ 440.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Sold OUT</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/1223.jpg" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1"> LabTop MAC</p>
                        <span class="fw-bold">$ 440.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class="collection-img position-relative">
                        <img src="assets/imgs/1223.jpg" height="312" class="w-100">
                    </div>
                    <div class="text-center">
                        <div class="rating mt-3">
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                            <span class="text-primary"><i class = "fas fa-star"></i></span>
                        </div>
                        <p class="text-capitalize my-1"> LabTop MAC</p>
                        <span class="fw-bold">$ 440.50</span>
                        <br>
                        <button class="bz" id="cart-button" >Add To Cart</button>
                    </div>
                </div>

    </div>
    </div>
    </div>
</section>